* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  background-image: url(./assets/background.png);
  background-position: center;
  background-size: cover;
}
h1 {
  color: #897fdf;
}
.game-container {
  background-color: rgb(11, 18, 37);
  padding: 10px;
  border-radius: 20px;
  top:32px;
  left:50%;
  transform:translateX(-50%);
  position:relative;
  width:fit-content;
}
.title {
  text-align: center;
}

.cards-container {
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap;  */
  padding: 20px;
  background-color: rgb(11, 18, 37);
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.wide {
  grid-template-columns: repeat(6, auto);
}
.hidden img {
  filter: opacity(0%);
}
.card {
  display: flex;
  height: 120px;
  margin: 2px;
  background-color: #897fdf;
}
.cards-container img {
  width: 120px;
  height: auto;
}
img:hover {
  cursor: pointer;
}
.win-status {
  display:flex;
  justify-content:space-around;
}
.sidebar {
  background-color: rgb(11, 18, 37);
  padding: 10px;
  z-index:100;
  position: fixed;
  height: 100%;
  left: -276px;
  transition: all 0.5s ease;
}
.sidebar h1 {
  font-size: 28px;
  padding-bottom: 10px;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0;
}
.sidebar li {
  list-style: none;
}
#check {
  display: none;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #sidebar-button {
  opacity: 0;
  left: 240px;
}

#check:checked ~ label #sidebar-cancel {
  left: 196px;
  z-index: 1000;
  position:fixed;
}
#sidebar-button,
#sidebar-cancel {
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
}
#sidebar-button {
  background-color: #0b1225;
  left: 20px;
  top: 25px;
  font-size: 24px;
  color: white;
  padding: 6px 12px;
  transition: all 0.5s ease;
}
#sidebar-cancel {
  z-index: 10;
  left: -90px;
  top: 8px;
  color: white;
  font-size: 16px;

  transition: all 0.5s ease;
}
.difficulty-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #897fdf;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family:
    system-ui,
    -apple-system,
    system-ui,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 200px;
}

.difficulty-button:hover,
.difficulty-button:focus {
  background-color: #2347d3;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.difficulty-button:hover {
  transform: translateY(-1px);
}

.difficulty-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
.difficulty-button.active {
  background-color: #0c0b1b;
}
.difficulty-button {
  background-color: hsl(224, 55%, 29%);
}
