* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  background-image: url(./assets/background.png);
  background-position: center;
  background-size: cover;
  height: 100%;
}
h1 {
  color: #897fdf;
}
.game-container {
  background-color: rgb(11, 18, 37);
  padding: 10px;
  width: 100%;
  min-width: fit-content;
  min-height: 100%;
  @media (min-width: 955px) {
    border-radius: 20px;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: fit-content;
    min-height: auto;
  }
}

.title {
  text-align: center;
}

.cards-container {
  padding: 20px;
  background-color: rgb(11, 18, 37);
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.card-container.hidden {
  .card-back img {
    transform: rotateY(0deg);
  }
  .card img {
    transform: rotateY(180deg);
  }
}

.card-back img {
  transform: rotateY(180deg);
}
.card-container img {
  width: 120px;
  height: 120px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.card-back {
  position: relative;
  margin: 2px;
}

.wide {
  grid-template-columns: repeat(6, auto);
  @media (max-width: 955px) {
    grid-template-columns: repeat(4, auto);
  }
}
.card {
  display: flex;
  height: 120px;
  margin: 2px;
  position: absolute;
}
img:hover {
  cursor: pointer;
}
.win-status {
  display: flex;
  justify-content: space-around;
}
.bottom-bar {
  display: none;
  margin-top: 16px;
  @media (max-width: 955px) {
    display: flex;
    justify-content: space-around;
  }
}
.sidebar {
  background-color: rgb(11, 18, 37);
  padding: 10px;
  z-index: 100;
  position: fixed;
  height: 100%;
  left: -276px;
  transition: all 0.5s ease;
  @media (max-width: 955px) {
    display: none;
  }
}
.sidebar h1 {
  font-size: 28px;
  padding-bottom: 10px;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0;
}
.sidebar li {
  list-style: none;
}
#check {
  display: none;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #sidebar-button {
  opacity: 0;
  left: 240px;
  z-index: 1000;
}

#check:checked ~ label #sidebar-cancel {
  left: 196px;
  position: fixed;
  z-index: 1000;
}
#sidebar-button,
#sidebar-cancel {
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
  z-index: 1000;
}
#sidebar-button {
  background-color: #0b1225;
  left: 20px;
  top: 25px;
  font-size: 24px;
  color: white;
  padding: 6px 12px;
  transition: all 0.5s ease;
  @media (max-width: 955px) {
    display: none;
  }
}
#sidebar-cancel {
  z-index: 10;
  left: -90px;
  top: 8px;
  color: white;
  font-size: 16px;
  transition: all 0.5s ease;

  @media (max-width: 955px) {
    display: none;
  }
}
.custom-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #897fdf;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family:
    system-ui,
    -apple-system,
    system-ui,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 200px;
}
.custom-button.clear {
  width: 50px;
}
.custom-button:hover,
.custom-button:focus {
  background-color: #2347d3;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.custom-button:hover {
  transform: translateY(-1px);
}

.custom-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
.custom-button.active {
  background-color: #0c0b1b;
}
.custom-button {
  background-color: hsl(224, 55%, 29%);
}
